{% include 'base/head.html' %}
{% include 'base/header.html' %}
{% include 'base/nav_bar.html' %}

    {% block content %}
    <div class="col-md-3 col-md-offset-4">
        <form action="/cadastrar-setor-efetuar" method="POST">
            <div class="form-group">
                <label>Cadastrar Setor</label>
                {{ form.nomeSetor(class="form-control", placeholder="Insira o nome do Setor") }}
            </div>

            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
    {% endblock%}

{% include 'base/footer.html' %}