{% include 'base/head.html' %}
{% include 'base/header.html' %}
{% include 'base/nav_bar.html' %}


    {% block content %}
        <div class="col-md-3">
                <form action="/cadastrar-usuario" method="POST">
                    <div class="form-group">
                        <label>Cadastrar Usuario</label>
                        {{ data[0].nome(class="form-control", placeholder="Insira o nome do Usuário") }}
                        {{ data[0].email(class="form-control", placeholder="Insira o email do Usuário") }}
                        {{ data[0].senha(class="form-control", placeholder="Insira a senha do Usuário") }}
                        {{ data[0].tipo(class="form-control", placeholder="Insira o tipo") }}
                        {{ data[0].setor(class="form-control", placeholder="Insira o nome do Setor") }}
                    </div>
                    {{ data[0].enviar(class="btn btn-default") }}
                </form>
        </div>

        <div class="col-md-3">
                <form action="/cadastrar-setor" method="POST">
                    <div class="form-group">
                        <label>Cadastrar Setor</label>
                        {{ data[1].nome(class="form-control", placeholder="Insira o nome do Setor") }}
                    </div>
                    {{ data[1].enviar(class="btn btn-default") }}
                </form>
        </div>

        <div class="col-md-3">
                <form action="/cadastrar-fornecedores" method="POST">
                    <div class="form-group">
                        <label>Cadastrar Fornecedores</label>
                        {{ data[2].razao_social(class="form-control", placeholder="Insira a Razão Social") }}
                        {{ data[2].nome_fantasia(class="form-control", placeholder="Insira o Nome Fantasia") }}
                        {{ data[2].email(class="form-control", placeholder="Insira o email do fornecedor") }}
                        {{ data[2].cnpj(class="form-control", placeholder="Insira o cnpj") }}
                        {{ data[2].telefone(class="form-control", placeholder="Insira o telefone") }}
                    </div>
                    {{ data[2].enviar(class="btn btn-default") }}
                </form>
        </div>
        <div class="col-md-3">
                <form action="/cadastrar-produto" method="POST">
                    <div class="form-group">
                        <label>Cadastrar Produto</label>
                        {{ data[3].nome(class="form-control", placeholder="Insira o nome do Produto") }}
                        {{ data[3].catmat(class="form-control", placeholder="Insira o número do CatMat") }}
                        <!--Colocar aqui um select com os nomes dos fornecedores-->
                    </div>
                    {{ data[3].enviar(class="btn btn-default") }}
                </form>
        </div>
        <div class="col-md-3">
                <form action="/cadastrar-pedido" method="POST">
                    <div class="form-group">
                        <label>Cadastrar Pedido</label>
                        {{ data[4].csrf_token }}
                        {{ data[4].usuario }}
                        {{ data[4].requisitante }}
                        {{ data[4].fornecedor1 }}
                        {{ data[4].fornecedor2 }}
                        {{ data[4].fornecedor3 }}
                        {{ data[4].valor_fornecedor1 }}
                        {{ data[4].valor_fornecedor2 }}
                        {{ data[4].valor_fornecedor3 }}
                        {{ data[4].produto }}
                        <div class="invisible">
                            {{ data[4].pedido }}
                            {{ data[4].data }}
                        </div>
                        <!--Colocar aqui um select com os nomes dos fornecedores-->
                    </div>
                    {{ data[4].enviar(class="btn btn-default") }}
                </form>
        </div>

    {% endblock %}

{% include 'base/footer.html' %}