body{
  background-color: #FFFFFF;
}


/* Index Page
 */
.header{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    float: left;
    z-index: 0;
}

.content {
    position: absolute;
    width: 100%;
    height: 700px;
    background-image: url("../images/back_image.jpg");
    z-index: -1;
}

.nav_bar {
    float: left;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 10px;
}

.nav_bar ul{
    text-decoration: none;
}

.nav_bar ul li{
    float: left;
    color: #FFFFFF;
    margin-left: 25px;

}

.nav_bar ul li{
    text-align: center;
    width: 100px;
    background-color: black;
    border-radius: 10px ;
    list-style: none;
}

.window_capture {
    width: 660px;
    margin-left: 65px;
    background-color: #333333;
    padding: 10px;
    border-radius: 10px ;
    float: left;
}


