    <div id="sidebar-wrapper">
        <div class="col-md-3 col-md-offset-4">
            <div class="body_bar">
                <form action="#" method="POST">
                    <div class="form-group">
                        <label>Produto</label>
                        {{ produto_form.nome(class="form-control", placeholder="Pesquisar produto pelo nome") }}
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>