<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Sistema Licitar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning">
            {% for message in get_flashed_messages() %}
                <li>
                {{ message }}
                </li>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}





