<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
		<div class="row">
			<div id="conteudo" class="col-md-9" style="background-color: #ccc; height: 200px; border: 1px solid red">
				<p>Aqui é o conteudo pai com 9 colunas</p>
				<div class="row">
					<div class="col-md-6" style="background-color: #999; height: 155px; border: 1px solid red">
						Aqui é o conteúdo filho com 6 colunas</p>
						<div class="row">
							<div class="col-md-5" style="background-color: #333; height: 100px; color: #fff; border: 1px solid red" ><p>Aqui é conteúdo neto com 5 colunas</p></div>
							<div class="col-md-7" style="background-color: #333; height: 100px; color: #fff; border: 1px solid red"><p>Aqui é conteúdo neto com 7 colunas</p></div>
						</div>
					</div>
					<div class="col-md-6" style="background-color: #fff; height: 155px; border: 1px solid red">
						<p>Aqui é o conteúdo filho com 6 colunas</p>
					</div>
				</div>
			</div>

			<div id="sidebar" class="col-md-3" style="background-color: #333; height: 200px; border: 1px solid red; color: #fff">
				<p>Aqui é o sidebar</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>