{% include 'base/head.html' %}
{% include 'base/header.html' %}
{% include 'base/nav_bar.html' %}

    {% block content %}
    <div class="col-md-3 col-md-offset-4">
        <form action="/login" method="POST">
            {{form_login.csrf_token}}
            <div class="form-group">
                <label>E-mail de usuário</label>
                {{ form_login.email(class="form-control", placeholder="Insira seu email de usuário") }}
            </div>
            <div class="form-group">
                <label>Senha</label>
                {{ form_login.senha(class="form-control", placeholder="Insira sua senha") }}
            </div>
            <div class="checkbox">
                <label>
                    {{ form_login.relembre_me }} Relembre-me
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    {% endblock %}

{% include 'base/footer.html' %}